<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#pvp" role="tab">Pvp</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pve" role="tab">Pve</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="pvp" role="tabpanel">
    <%= render partial: 'activities_stats_table', locals: { user: @user, type: 'pvp' } %>
  </div>
  <div class="tab-pane" id="pve" role="tabpanel">
    <%= render partial: 'activities_stats_table', locals: { user: @user, type: 'pve' } %>
  </div>
</div>
