<!DOCTYPE html>
<html>
  <head>
    <title>GuardiansDestiny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-inverse">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="#">Pvp</a>
        <a class="nav-item nav-link" href="#">Pve</a>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
